:root {
    --bg-color: #f9fafb;
    --surface-color: #f3f0f0;
    --text-color: #111827;
    --text-muted: #6b7280;
    --border-color: #333;
    --primary-color: #2563eb;
    --primary-hover: #1d4ed8;
    --active-color: #3cc4e9;
    --header-footer-bg-color: #ffffff;
    --header-footer-border-color: #e5e7eb;
    --shadow: 0 0.25rem 0.75 rgba(0, 0, 0, 0.08);
    --radius: 8px;
    --transition: 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif; 
    position: relative;
    background: rgb(255, 242, 242);
    color: var(--text-color);
    transition: background var(--transition), color var(--transition);
    line-height: 1.5;
}

header {
    display: flex;
    padding: 1rem 2rem;
    box-shadow: 0 0 12px var(--border-color);
    justify-content: space-between;
    align-items: center;
}

.smartchat {
    letter-spacing: -0.03em;
    background: linear-gradient(180deg, #1a4b8f 0%, #48c78e 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.delete-btn {
    border: none;
    font-size: 1.5rem;
    background: transparent;
    cursor: pointer;
}

.delete-btn:hover {
    color: rgb(232, 19, 19);
}

.delete-btn:disabled {
    cursor: not-allowed;
    color: #a9a9a9
}

.delete-btn:disabled:hover {
    color: #a9a9a9;
}

.notify-overlay {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #33333370;
    z-index: 1;
}

.notification {
    background: var(--bg-color);
    border-radius: var(--radius);
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.67);
}

.message {
    font-size: 1.1rem;
}

.notification-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
}

.prompt-btn {
    padding: 0.7rem 1rem;
    border-radius: var(--radius);
    border: none;
    background: linear-gradient(120deg, #1a4b8f 50%, #48c78e 100%);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.confirm:hover {
    background: linear-gradient(120deg, #175ec2 30%, #3de79a 100%);
} 

.cancel {
    background: rgb(233, 22, 22);
}

.cancel:hover {
    background: rgb(184, 0, 0);
}

main {
    position: relative;
}

.answer-container {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.convo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    height: 75vh;
}

.convo::-webkit-scrollbar {
    display: none;
}

.convo-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-query {
    display: flex;
    justify-content: end;
}

.user-query p {
    background: #c9cbcf;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
}

.answer pre {
    white-space: pre-wrap;
    display: flex;
    font-family: inherit;
    text-align: justify;
}

.new pre {
    animation: typing 1s ease-in-out;
}

.spinner {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.loading {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.3rem solid #e0e0e0;
    border-top: 0.3rem solid #6eafe4;
    border-radius: 50%;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@keyframes typing {
    from {
        opacity: 0;
        transform: translateY(-10%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.empty {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.chat-prompt {
    position: fixed;
    bottom: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.prompt-box {
    border: 2px solid var(--border-color);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 70%;
    padding-right: 1rem;
}

.prompt {
    border: none;
    background-color: transparent;
    padding: 1rem;
    border-radius: 20px;
    width: 100%;
}

.prompt:focus {
    outline: none;
}

.send-btn {
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
    border: none;
    background: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
}

.send-btn:disabled {
    cursor: not-allowed;
    background: #ccc;
}

.go-bottom {
    position: absolute;
    left: 50%;
    bottom: 3%;
    display: flex;
    justify-content: center;
}

.error-container {
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1em;
    padding: 3em;
    flex-direction: column;
}